.menu {
  position: relative;

  &:hover .sub__menu {
    visibility: visible;
    opacity: 1;
    top: 130%;
  }

  .sub__menu {
    position: absolute;
    top: 170%;
    left: -20px;
    background: #0e0726;
    border: 1px solid #2c1f59;
    border-radius: 8px;
    width: 200px;
    z-index: 99;
    padding: 16px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    li {
      color: white;
      padding-bottom: 15px;
      border-bottom: 1px solid #2c1f59;
      margin-bottom: 15px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: translateX(5px);
        color: #ffc700;
      }

      &:last-child {
        border-bottom: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.login {
  gap: 37px;
  @media screen and (max-width: 956px) {
    gap: 15px;
  }

  .login__user {
    cursor: pointer;
    gap: 5px;

    &:hover {
      color: #ffc700;
    }

    i {
      color: #9db4d3;
      margin-right: 5px;
    }
  }
}

.searchList {
  gap: 20px;
  width: 40%;

  .search {
    background: #0e0726;
    border: 1px solid #2c1f59;
    border-radius: 8px;
    padding: 12px;
    width: 55%;

    i {
      margin-right: 15px;
      font-size: 20px;
    }

    input {
      background: none;
      border: none;
      outline: none;
      color: white;
      font-size: 16px;

      &::placeholder {
        color: white;
      }
    }
  }

  .sort__dropDown {
    span {
      color: #9db4d3;
    }

    .s__sub-dropDown {
      cursor: pointer;

      .sub__menu {
        right: 0 !important;
        left: inherit !important;
      }
    }
  }
}

.header__sortList {
  // gap: 75px;

  .sortList {
    ul {
      gap: 40px;

      li {
        // padding-bottom: 15px;
        a {
          color: #9db4d3 !important;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;

          &:hover {
            color: white !important;
          }
        }
      }
    }
  }
}

.market__items {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // flex-wrap: wrap;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  i {
    cursor: pointer;
    border: 1px solid #2c1f59;
    padding: 11px 13px;
    border-radius: 5px;

    &:hover {
      background: #2c1f59;
      color: #ffc700;
    }
  }

  a {
    cursor: pointer;
    border: 1px solid #2c1f59;
    padding: 7px 13px;
    border-radius: 5px;

    &:hover {
      background: #2c1f59;
      color: #ffc700;
    }
  }

  .paginationCount {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.dojo_btns {
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 30px;
}

.mrkt_item {
  width: 100%;
  // height: 340px !important;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 54.17%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 4px;
  color: white;
  padding: 15px;
  border: 1px solid #222222d1;
  transition: 0.3s;
  height: 100%;

  .steam-p {
    font-size: 14px;
  }

  &:hover {
    border: 1px solid #ffffff66;
  }

  p {
    i {
      margin-right: 11px;
    }
  }

  img {
    height: 123px;
    width: 100%;
    margin-bottom: 20px;
  }

  h6 {
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    span {
      color: #01cded;
    }
  }

  .dis__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dis {
      margin-bottom: 5px;

      span {
        font-weight: 400;
        font-size: 13px;
        color: #05bb59;
        padding: 4px;
        background: #1e4e34;
        border-radius: 4px;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        color: #ffc700;
      }
    }

    .pinCode {
      margin-bottom: 10px;

      span {
        font-weight: 400;
        font-size: 13px;
        text-align: right;
        color: #9db4d3;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        text-align: right;
        color: #9db4d3;

        i {
          margin-right: 4px;
        }
      }
    }
  }
}

.mar__sliderItems {
  h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: #ffffff;
  }

  .mrslider {
    .swiper-wrapper {
      height: 400px;
      margin-top: 15px;
    }

    .swiper-button-next::after {
      display: none;
    }

    .swiper-button-prev::after {
      display: none;
    }

    .swiper-button-prev {
      right: 120px !important;
      left: inherit !important;
      top: 10px !important;

      i {
        color: gray;
        font-size: 22px;

        &:hover {
          color: #ffc700;
        }
      }
    }

    .swiper-button-next {
      right: 70px !important;
      top: 10px !important;

      i {
        color: gray;
        font-size: 22px;

        &:hover {
          color: #ffc700;
        }
      }
    }

    .swiper-slide {
      padding-left: 5px;

      .mr_title {
        border-radius: 20px 20px 0px 0px;
        padding: 14px;
        display: flex;
        align-items: center;
        gap: 12px;
        border: solid 1px #8080804f;
        border-bottom: none;

        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 120%;
          color: #ffffff;
        }

        .mr__pro {
          border-bottom: solid 1px #8080804f;
          margin-bottom: 16px;

          img {
            width: 100%;
            height: 114px;
          }
        }

        .mr__price {
          span {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #01cded;
          }

          .price {
            span {
              font-weight: 400;
              font-size: 10px;
              line-height: 120%;
              color: #9db4d3;
              display: block;
              margin-bottom: 10px;
            }

            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 120%;
              color: #ffc700;
            }
          }
        }
      }

      .mr_items {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

.mr__sliderBtn {
  text-align: center;

  .mrBtn {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffc700;
    border: solid 3px #ffc700;
    border-radius: 10px;
    padding: 15px 25px;
    background: #0e0726;
    transition: 0.3s;

    &:hover {
      background: #ffc700;
      color: #0e0726;
    }
  }
}

.mr__filter {
  transition: 2s;
  .filter {
    padding: 18px 0px 18px 0px;
    border-bottom: solid 2px #2c1f59;

    a {
      &:hover {
        color: #ffc700 !important;
      }

      &:hover span {
        color: #ffc700;
      }
    }

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked + lebel + .content {
      max-height: 400px;
    }

    label,
    a {
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color: #ffffff;
      cursor: pointer;

      span {
        margin-left: 10px;
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
        color: #9db4d3;
      }
    }

    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;
    }
  }
}

// F&Q CSS

.general__accor {
  .g_accorItem {
    border: solid 1px #8080804f;
    border-top: none;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px;
    margin-top: 15px;
    width: 778px;

    h2 {
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: #9db4d3;
      display: flex;
      gap: 15px;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    .gAccorContent {
      border-top: solid 1px #8080804f;
      padding: 20px 0px;
      margin-top: 25px;
      display: none;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #ffffff;
      }
    }
  }
}

.apply-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  width: 120px;
  height: 60px;
  background: #ffc700;
  border-radius: 5px;
}

.share-h {
  width: 200px;
  display: flex;
}

// .dots:hover + .dots-show {
//   opacity: 1;
// }

.dots-show {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  padding: 4px;
  width: 170px;
  height: 75px;
  top: 30px;
  right: -5px;
  font-family: sans-serif;
  background: #0e0726;
  box-shadow: 0px 16px 32px rgb(0 0 0 / 25%);
  border-radius: 4px;
  .details {
    // margin-top: -15px;
  }
  img {
    margin-top: -30px;
    width: 16px;
    margin-left: 10px;
    height: 8px;
    margin-bottom: 0px;
  }
  .details {
    // margin-top: 25px;
    p {
      font-weight: 400;
      font-size: 16px;

      display: flex;
      align-items: center;

      /* orange */

      color: #ffc700;
    }
    img {
      width: 17px;
      margin-top: 0px;
      height: 17px;
      margin-bottom: 0px;
    }
  }
}

.show-div {
  background: #0e0726;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.show-div:hover {
  background: #28213d;
}
.bDeals__img {
  width: 170px;
  // height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.price-div {
  opacity: 0;
  // transition: 2s;
  transform: translateY(-30px);
  &.active {
    opacity: 1;
    transform: translateY(0px);
    // transition-delay: 0.5s;
  }
  .price-filter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 11px 12px 12px;
    gap: 10px;
    margin-top: 16px;
    color: white;
    width: 100px;
    height: 43px;

    /* black */

    background: #0e0726;
    /* blue 600 */

    border: 1px solid #2c1f59;
    border-radius: 4px;
  }
}

.shop-div {
  width: 100%;
  margin-right: 20px;
  .mr_title {
    background: #0e0726;
    border-radius: 16px 16px 0px;
    border: 1px solid rgba(255, 255, 255, 0.231372549);
    padding: 15px;
    border-bottom: none;
    border-bottom-left-radius: 12px;
  }
  .mr_item {
    border: 1px solid rgba(255, 255, 255, 0.231372549);
    /* border-top: none; */
    border-top-left-radius: 19px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;

    .price {
      span,
      p {
        font-size: 14px;
        color: #ffc700;
      }
    }
  }
}

.responsive {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow: auto;
  width: 100%;
  background: #1a1431;
  padding: 20px;
}

// .delist_modal {
//   background: #0000005e;
//   height: 100%;
//   position: absolute;
//   padding: 18px;
//   top: 0;
//   /* margin-left: auto; */
//   left: 50%;
//   transform: translateX(-50%);
//   .delist_body {
//     width: 90%;
//     background-color: #1e1323;
//   }
// }
